# -----------------------
# Python environment
# -----------------------
env/
venv/

# -----------------------
# Python cache files
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Database / instance
# -----------------------
instance/
*.db

# -----------------------
# Flask stuff
# -----------------------
*.sqlite3
*.log

# -----------------------
# IDE / editor settings
# -----------------------
.vscode/
.idea/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db
